@charset "utf-8";
/* CSS Document */

.body-noscroll{
	overflow:hidden !important;	
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
span::-moz-selection {
	color: #ffffff;
	background: #9e0b0f;
}

span::selection {
	color: #ffffff;
	background: #9e0b0f;
}
.button_container {
	position: fixed;
	top: 50px;
	right: 50px;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 9999990;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
}
.button_container:hover {
	opacity: .7;
}
.button_container.active .top {
	-webkit-transform: translateY(11px) translateX(0) rotate(45deg);
	-ms-transform: translateY(11px) translateX(0) rotate(45deg);
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #9e0b0f;
}
.button_container.active .middle {
	opacity: 0;
	background: #9e0b0f;
}
.button_container.active .bottom {
	-webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
	-ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #9e0b0f;
}
.button_container span {
	background: #9e0b0f;
	border: none;
	height: 3px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
	cursor: pointer;
}
.button_container span:nth-of-type(2) {
	top: 11px;
}
.button_container span:nth-of-type(3) {
	top: 22px;
}
.overlay {
	position: fixed;
	background: #121720;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .35s, visibility .35s, height .35s;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
}
.overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
	z-index: 999999;
}
.overlay.open li {
	-webkit-animation: fadeInRight .5s ease forwards;
	animation: fadeInRight .5s ease forwards;
	-webkit-animation-delay: .35s;
	animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
	-webkit-animation-delay: .45s;
	animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
	-webkit-animation-delay: .50s;
	animation-delay: .50s;
}
.overlay nav {
	position: relative;
	height: 70%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 50px;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	text-align: center;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}
.overlay ul li {
	display: block;
	height: 33.33%;
	height: calc(100% / 3);
	min-height: 50px;
	position: relative;
	opacity: 0;
	-webkit-animation: fadeOutLeft .5s ease forwards;
	animation: fadeOutLeft .5s ease forwards;
	-webkit-animation-delay: .35s;
	animation-delay: .35s;
}
.overlay ul li a {
	display: block;
	position: relative;
	color: #9e0b0f;
	text-decoration: none;
	overflow: hidden;
	font-family: 'MyriadPro-Light', sans-serif;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	width: 100%;
}
.overlay ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 2px;
	background: #9e0b0f;
	-webkit-transition: .35s;
	transition: .35s;
}
 @-webkit-keyframes fadeInRight {
 0% {
 opacity: 0;
 left: 20%;
}
 100% {
 opacity: 1;
 left: 0;
}
}
 @keyframes fadeInRight {
 0% {
 opacity: 0;
 left: 20%;
}
 100% {
 opacity: 1;
 left: 0;
}
}
.trans-delay-1s{
	-webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
	transition-delay: 1s;	
}
.trans-delay-1_2s{
	-webkit-transition-delay: 1.2s;
    -moz-transition-delay: 1.2s;
    -ms-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
	transition-delay: 1.2s;	
}
.trans-delay-1_4s{
	-webkit-transition-delay: 1.4s;
    -moz-transition-delay: 1.4s;
    -ms-transition-delay: 1.4s;
    -o-transition-delay: 1.4s;
	transition-delay: 1.4s;	
}
.trans-delay-1_5s{
	-webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
	transition-delay: 1.5s;	
}

.trans-delay-2s{
	-webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
	transition-delay: 2s;	
}

.trans-delay-3s{
	-webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -ms-transition-delay: 3s;
    -o-transition-delay: 3s;
	transition-delay: 3s;	
}

.fade {
  transition: all 300ms linear 700ms;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

.fade.out {
  opacity: 0;
}